html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
}

* {
  box-sizing: border-box;
}

body {
  color: var(--color-primary);
  background-color: var(--color-light);
}

a {
  color: var(--color-primary);
}
